<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP</title>
    </head>

    <body>
        <section>
            <h1>
                Evaluate a News Article with Natural Language Processing by entering the Article's link
            </h1>
            <div>
                <form>
                    <label for="url">Article URL</label>
                    <input type="text" id="url" name="input" value="" placeholder="Enter url here...">
                    <button>Submit</button>
                </form>
            </div>
        </section>

        <section>
            <h2>Form Results:</h2>
            <div id="text"></div>
            <div id="agreement"></div>
            <div id="subjectivity"></div>
            <div id="confidence"></div>
            <div id="irony"></div>
            <div id="score_tag"></div>
        </section>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
